{% extends "base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1>precious Uzoaru</h1>
            <h3>Formations</h3>
            <div class="jumbotron jumbotron-fluid">
                    <div class="container-fluid">
                        <div id="formations">
                    </div>
                </div>
            </div>
{% endblock %}