{% extends "base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1>precious Uzoaru</h1>
            <h2>Dévelopeur web integrateur web junoir</h2>
            <h3>Formations</h3>
            <div class="jumbotron jumbotron-fluid">
                    <div class="container-fluid">
                        <div id="formations">
                    </div>
                </div>
            </div>
            <h3>Compétences</h3>
            <ul class="list-group" id="skills"></ul>
            <h3>Références</h3>
            <div id="references" class="row"></div>
        </div>
    </div>
{% endblock %}