{% extends "base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h3>Références</h3>
            <div id="references" class="row"></div>
        </div>
    </div>
{% endblock %}