{% extends "base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1>precious Uzoaru</h1>
            <h2>Dévelopeur web integrateur web junoir</h2>
            <h3>Compétences</h3>
            <ul class="row" id="skills"></ul>
        </div>
    </div>
{% endblock %}